/* RESET CSS */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
color: inherit;
list-style: none;
}
a {
    text-decoration: none;
}
li {
    padding: 1rem  7rem 0 3rem; 
    color: #F7F7F7;
    font-size: 1.8rem;
    line-height: 2rem;
    padding-bottom: 2rem;
}
li:hover{
    text-decoration: overline;
    background-image: linear-gradient(80deg,#129799, #FFA185); 
}
header{
    background-color: #129799;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 37.625rem;
}
ul {
    display: flex;
    justify-content: center;
}
.box-logo{
    display: flex;
    align-items: center;
}
@media(min-widht:1026px){
    .box-logo {
        display: flex;
        flex-wrap: wrap;
    }
}
h1{
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.6rem; 
    color: #F7F7F7;
}
main{
    background-color: #FFA185;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #F7F7F7;
    text-transform: uppercase;
    padding: 5rem 0rem 2rem 1.5rem; 
}
figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure img{
    margin: 1rem 1rem 1rem 1rem;
    width: 40rem ;
    height: 25rem;
}
main p{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 0rem 1.5rem 5rem 1.5rem;
    width: 90%;
}
@media (min-widht: 669px){
    figure {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 10vw;
        height: 10vh;
    }
}
.main-paragraph{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.main-paragraph p{
    font-size: 1.875rem;
    line-height: 2rem ;
    text-transform: capitalize;
    font-weight: 700;
    margin: 2rem;
}
.main-paragraph p:hover{
    text-decoration: overline;
    color: #F7F7F7 ;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #129799;
    padding: 5rem 0 5rem 0 ;
}
.footer-img img{
    width: 2.4rem;
    height: 2.3rem;
    margin-left: 5rem;
}

.box-position{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100px;
    height: 100px;
    color: rgb(40, 10, 175);
    right: 30px;
    bottom: 30px;
}

